.w-100
	width: 100%
	
.card-title,.card-opera
	margin: 0
	padding: 0

.index-hot .el-form-item	
	margin-bottom: 0

.unit
	padding-left: 40px
	
.image-wrapper
	width: 120px
	height: 120px
	margin: 0 auto
	display: flex
	align-item: center
	img
		width: 120px
		max-width: 100%