.index-hot .el-form-item	
	margin-bottom: 0
	
.name
	padding-left: 50px
	
.el-rate
	margin-top: 9px

.seamless-warp
	height: 300px
	overflow: hidden	

.newers
	-webkit-padding-start: 0px
	
.newer
	font-size: 12px
	height: 30px
	line-height: 30px
