.f-fs1
	font-size: 14px
	
.f-fs2	
	font-size: 12px

.f-ib
	display: inline-block
	
.f-db
	display: block
	
.f-dn
	display: none
	
.f-tac
	text-align: center
	
.f-tal
	text-align: left
	
.f-tar
	text-align: right
	
.f-fl
	float: left
	
.f-fr
	float: right
	
.f-fwn
	font-weight: normal
	
.f-fwb
	font-weight: bold
	
.f-pr
	position: relative
	
.f-pa
	position: absolute
	
.f-fsn
	font-style: normal
	
.f-vat
	vertical-align: top
	
	