li
	list-style: none

a
	text-decoration: none
	color: #409EFF

.bell-my .el-badge__content.is-fixed
	top: 18px
	right: 10px
	
.index-hot .el-form-item__content
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap

.input-inquiry-select .el-input
	width: 80px
	
.input-quote-select .el-input
	width: 90px
	
.inquiry-collapse .el-collapse-item__content
	padding-bottom: 15px	
	
.inquiry-collapse .el-collapse-item__header
	font-size: 14px
	
.remark .el-form-item__content
	font-size: 12px
	line-height: 18px
	
.inquiry-collapse .el-collapse-item__wrap
	overflow: visible	
	
.way-dialog .el-dialog__body, .cate-dialog .el-dialog__body
	padding: 5px 20px 20px 20px
	
.goods-table th
	padding-top: 0	
	
.goods-table .el-table__expanded-cell
	padding: 10px 50px	
	
.form-nomar .el-form-item__label,.form-nomar .el-form-item__content
	line-height: 30px	
	
.user-card .el-card__header
	padding: 10px 20px
	
.info-form .el-form-item__label
	line-height: 30px
	
.user-inquiry .el-card__body
	padding-top: 0	
	
.message-badge .el-badge__content.is-fixed
	top: 5px	
	
.info-form .el-form-item__content
	line-height: 30px	
	
.good-dialog .el-dialog__body
	padding: 10px 20px	
	