.el-form-item
	margin-bottom: 0
	
.unit
	padding-left: 50px
	
.w-100
	width: 100%
	
.quote
	width: 800px
	margin: 0 auto
	
.logo
	top: -9px
	
.echart
	width: 450px
	overflow: hidden
	position: absolute
	bottom: 0
	right: 0